.container{
   border:solid black;
   background-color: greenyellow;
}

.col{
    border:solid black;
}

.col-4{
    border:solid black;
}

.col-3{
    border:solid black;
}

.col-6{
    border:solid black;
}

.col-5{
    border:solid black;
}

